
{% extends 'base.html' %}
{% load static %}
{%  block content  %}
<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Aspire for more</h1>
          
          
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
                Learning keeps you in the lead. Get in-demand skills to impress anyone.
              </li>
               <li class="list-inline-item"><img src="{% static 'assets/images/1999ee6d-47cd-42f2-baca-747713a0228b.jpg' %}">
               </li>
              
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding course">
    <div class="course-top-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>Showing 1-6 of  results</p>
                </div>


                
                <div class="col-lg-4">
                    <div class="topbar-search">
                        <form method="POST" action="" id="search-form">
                            {% csrf_token %}
                            <input type="text"  placeholder="Search our courses" class="form-control" id="search-input"  >
                            
                            <label><i class="fa fa-search"></i></label>

                          </form>
                          
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
      <div class="row"> 
        <div id="result" class="row">    
            {%for form in formations%}
            {% if form.etat%}
            <div class="col-xl-4 col-lg-4">
                <div class="course-block">
                    <div class="course-img">
                        <img src="{{form.img.url}}" alt="" class="img-fluid">
                         <div class="course-price2">${{form.price}}</div>   
                    </div>
                    
                    <div class="course-content">
                        <h4><a href="#">{{form.name}}</a></h4>    
                        <p>{{form.desc}}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {%endfor%}
          </div>
            <script type="text/javascript">
                        
                        
              const url= window.location.href
              const searchForm= document.getElementById('search-form')
              const searchInput= document.getElementById('search-input')
              const csrf=document.getElementsByName('csrfmiddlewaretoken')[0].value
              const result=document.getElementById('result')
              console.log(result)
              const rec=result.innerHTML
              const sendSearchData = (formation)=>{
                  $.ajax({
                    type : 'POST',
                    url : 'search/',
                    data:{
                      'csrfmiddlewaretoken':csrf,
                      'formation':formation,
                    },
                    success: (res)=>{
                      console.log(res.data)
                      const data =res.data
                      
                      
                      if(Array.isArray(data)){
                        result.innerHTML ="" 
                        data.forEach(formation=>{
                        if(formation.etat)
                        result.innerHTML += `
                         <div class="col-xl-4 col-lg-4">
                          <div class="course-block">
                              <div class="course-img">
                                  <img src="${formation.img}" alt="" class="img-fluid">
                                   <div class="course-price2">$${formation.price}</div>   
                              </div>
                              
                              <div class="course-content">
                                  <h4><a href="#">${formation.name}</a></h4>    
                                  <p>${formation.desc}</p>
                              </div>
                          </div>
                      </div>
                      
                         
                         `
                       }) 
                      }
                      else{
                          
                        if (searchInput.value.length > 0){
                          result.innerHTML=`<b>No Courses Found..</b>` 
                        } else{
                          result.innerHTML=rec
                          
                        }
                      }
                    },
                    error:(err)=>{
                      console.log(err)
                    }
                  })
              }

              searchInput.addEventListener('keyup',e=>{

                console.log(e.target.value)
                sendSearchData(e.target.value)
              })
              
            </script>

        <div class="row">
            <div class="col-lg-12">
                <nav class="post-navigation text-center">
                    <ul>
                      {% if formations.has_previous %}
                      <li class="page-num"><a class="page-url" href="/?page={{formations.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                      {% endif %}
                      {% for p_index in np %}
                          {% if  p_index == current %}
                            <li class="page-num active" ><span class="page-url">{{p_index}}</span></li>
                          {% else %}
                            <li class="page-num"><a class="page-url" href="/?page={{p_index}}">{{p_index}}</a></li>
                          {% endif %}  
                        
                      {% endfor %}

                      {% if formations.has_next %}
                        <li class="page-num"><a class="page-url" href="/?page={{formations.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
                      {% endif %}
                      </ul>
                  </nav>
            </div>
        </div>
    </div>
</section>


{%  endblock %}